[Desktop Entry]
Encoding=UTF-8
X-KDE-ModuleType=Library
X-KDE-Library=kdf
X-KDE-FactoryName=kdf
X-KDE-LocalUser=false
Exec=kcmshell kcmdf
Icon=kcmdf
Type=Application
Name=Storage Devices
Name[x-test]=xxStorage Devicesxx
DocPath=kinfocenter/blockdevices/index.html
Comment=Shows the disk usage of the mounted devices
Comment[x-test]=xxShows the disk usage of the mounted devicesxx

Categories=Qt;KDE;X-KDE-information;
