[Desktop Entry]
Encoding=UTF-8
X-KDE-ModuleType=Library
X-KDE-Library=kdf
X-KDE-FactoryName=kdf
X-KDE-LocalUser=false
Exec=kcmshell kcmdf
Icon=kcmdf
Type=Application
Name=Storage Devices
Name[af]=Stoorplek Toestelle
Name[ar]=أجهزة تخزين
Name[bg]=Твърди дискове
Name[bs]=Uređaji za smještaj
Name[ca]=Dispositius d'emmagatzemament
Name[cs]=Úložná zařízení
Name[cy]=Dyfeisiau Storio
Name[da]=Lagringsenheder
Name[de]=Speichergeräte
Name[el]=Συσκευές αποθήκευσης
Name[eo]=Memor-aparatoj
Name[es]=Dispositivos de almacenamiento
Name[et]=Salvestusseadmed
Name[eu]=Biltegiratze Gailuak
Name[fi]=Tallennuslaitteet
Name[fr]=Périphériques de stockage
Name[ga]=Gléasanna Stórais
Name[gl]=Dispositivos de Almaceamento
Name[he]=התקני איחסון
Name[hi]=भंडारण औज़ार
Name[hr]=Skladišni uređaji 
Name[hu]=Tárolóeszközök
Name[is]=Minnisbúnaður
Name[it]=Dispositivi di memorizzazione
Name[ja]=ストレージデバイス
Name[lt]=Informacijos saugojimo įrenginiai
Name[mk]=Уреди за складирање
Name[mt]=Apparat għas-sarr ta' informazzjoni
Name[nb]=Lagringsenheter
Name[nl]=Opslagapparaten
Name[nn]=Lagringseiningar
Name[pl]=Urządzenia do przechowywania danych
Name[pt]=Dispositivos de Armazenamento
Name[pt_BR]=Dispositivos de Armazenamento
Name[ro]=Dispozitive de stocare
Name[ru]=Устройства хранения данных
Name[sk]=Disky
Name[sl]=Naprave za shranjevanje
Name[sr]=Складишни уређаји
Name[sr@Latn]=Skladišni uređaji
Name[sv]=Lagringsenheter
Name[ta]= சேமிப்பு சாதனங்கள் 
Name[tg]=Дастгоҳҳои Захиракунӣ
Name[th]=อุปกรณ์เก็บข้อมูล
Name[tr]=Depolama Aygıtları
Name[uk]=Пристрої накопичення
Name[uz]=Сақлаш ускуналари
Name[wa]=Éndjins di wårdaedje
Name[xh]=Amacebo Okugcina
Name[xx]=xxStorage Devicesxx
Name[zh_CN]=存储设备
Name[zh_TW]=儲存裝置
Name[zu]=Amathuluzi Ethala
DocPath=kinfocenter/blockdevices/index.html
Comment=Shows the disk usage of the mounted devices
Comment[af]=Vertoon die disket gebruik van die gekoppelde toestelle
Comment[ar]=عرض المساحة المستخدمة من الأقراص المجهزة
Comment[az]=Bağlı avadanlıqların disk istifadəsini göstərir
Comment[bg]=Показване на използваното пространство на монтираните устройства
Comment[br]=Diskouez an egor implijet gant an trobarzhelloù marc'het
Comment[bs]=Prikazuje iskorištenost diskova na montiranim uređajima
Comment[ca]=Mostra l'ús de disc dels dispositius muntats
Comment[cs]=Zobrazuje využití připojených diskových zařízení
Comment[cy]=Dangos defnydd disg y dyfeisiau mowntiedig
Comment[da]=Viser monterede enheders diskforbrug
Comment[de]=Zeigt die Speicherbelegung eingebundener Geräte
Comment[el]=Εμφανίζει τη χρήση αποθηκευτικού χώρου των προσαρτημένων συσκευών
Comment[eo]=Montras la kapacitojn de la kroĉitaj aparatoj
Comment[es]=Muestra el uso del disco en los dispositivos montados
Comment[et]=Ühendatud seadmete kettakasutuse vaatamine
Comment[eu]=Muntatutako diskoen erabilera erakusten du
Comment[fi]=Näyttää levynkäytön liitetyillä laitteilla
Comment[fr]=Affiche l'espace utilisé sur les périphériques montés
Comment[ga]=Taispeánann úsáid diosca na ngléasanna feistithe
Comment[gl]=Amosa o uso do disco dos dispositivos montados
Comment[he]=מידע על השימוש בנפח האיחסון של ההתקנים המחוברים
Comment[hi]=माउन्टेड औज़ारों के डिस्क उपयोग दिखाता है
Comment[hr]=Prikazuje iskorištenost diskova
Comment[hu]=Megmutatja a csatlakoztatott (mountolt) eszközök kihasználtságát
Comment[id]=Perlihatkan penggunanan disk yang sedang dimount
Comment[is]=Sýnir nýtingu diskanna sem eru tengdir skráarkerfinu
Comment[it]=Mostra l'uso del disco dei dispositivi montati
Comment[ja]=マウントされているデバイスのディスク使用状況の表示
Comment[ko]=마운트된 장치의 디스크 사용을 보여줍니다.
Comment[lt]=Rodo sumontuotų įrenginių disko vietos panaudojimą
Comment[lv]=Rāda piemontēto iekārtu diska izlietošanu
Comment[mk]=Ја покажува искористеноста на монтираните уреди
Comment[ms]=Memaparkan penggunaan cakera pada peranti yang dilekapkan
Comment[mt]=Juri kemm qed jintuża mid-diski mmuntati
Comment[nb]=Viser brukt diskplass på de monterte enhetene
Comment[nl]=Toont het schijfgebruik van de aangekoppelde bestandssystemen
Comment[nn]=Viser diskbruken for monterte einingar
Comment[pl]=Pokazuje wykorzystanie przestrzeni dyskowej na zamontowanych urządzeniach
Comment[pt]=Mostra o espaço ocupado nos dispositivos montados
Comment[pt_BR]=Mostra a utilização do disco nos dispositivos montados
Comment[ro]=Afişează utilizarea spaţiului pentru dispozitivele montate
Comment[ru]=Показывает свободное место на смонтированных устройствах
Comment[sk]=Ukazuje využité miesto na pripojených diskových zariadeniach
Comment[sl]=Prikaže porabo diska v priklopljenih napravah
Comment[sr]=Приказује искоришћеност капацитета монтираних дискова
Comment[sr@Latn]=Prikazuje iskorišćenost kapaciteta montiranih diskova
Comment[sv]=Visar diskanvändning för monterade enheter
Comment[ta]= ஏற்றப்பட்ட சாதனங்களின் வட்டு பயன்பாட்டை காட்டுகிறது
Comment[tg]=Фазоҳои хомро дар дастгоҳи насбшуда нишон диҳед
Comment[th]=แสดงการใช้พื้นทีี่ของดิสก์ที่เมานท์ใช้งานอยู่
Comment[tr]=Bağlı aygıtların disk kullanımını gösterir
Comment[uk]=Показує ступінь використання змонтованих пристроїв
Comment[ven]=I sumbedza mashumisele a maano o gonyiswaho
Comment[vi]=Hiển thềEtrạng thái sử dụng đĩa của các thiết bềEđã được mount 
Comment[wa]=Mostere l' eployaedje des deurès plakes ki sont montêyes
Comment[xx]=xxShows the disk usage of the mounted devicesxx
Comment[zh_CN]=显示挂接设备的磁盘使用率
Comment[zh_TW]=顯示連接的設備的磁碟使用率
Comment[zu]=Ikhombisa ukusebenziswa kwediski yamathuluzi okunyuka

Categories=Qt;KDE;X-KDE-information;
