[Desktop Entry]
Encoding=UTF-8
Name=KDiskFree
Name[af]=Kdiskfree
Name[bg]=СвободноПространствоНаДиска
Name[eo]=Diskuzo
Name[lv]=KDiskāBrīvs
Name[pl]=Wolna przestrzeń na dyskach
Name[pt_BR]=Disco Livre
Name[sl]=Prosti disk
Name[sv]=Kdiskfree
Name[th]=การใช้พื้นที่ดิสก์
Name[tr]=K Disk Boşluğu
Name[ven]=KDisiki ya mahala
Name[zh_TW]=磁碟剩餘空間
Exec=kdf -caption "%c"
Icon=kdf
Type=Application
GenericName=View Disk Usage
GenericName[af]=Besigtig Disket Gebruik
GenericName[ar]= عرض ةستخدام القرص
GenericName[bg]=Показва конзолните съобщения
GenericName[bs]=Pregled iskorištenosti diska
GenericName[ca]=Veure l'ús de disc
GenericName[cs]=Zobrazení využití disku
GenericName[da]=Se diskforbrug
GenericName[de]=Belegung von Festplatten etc. anzeigen
GenericName[el]=Προβολή χρήσης του δίσκου
GenericName[eo]=Montras la okupitan kaj liberan spacon sur la diskoj
GenericName[es]=Muestra el uso del disco
GenericName[et]=kettakasutus
GenericName[eu]=Ikusi Diskaren Erabilera
GenericName[fi]=Näytä levynkäyttö
GenericName[fr]=Pour afficher l'espace disque libre restant
GenericName[he]=הצגת שיעור השימוש בכוננים
GenericName[hr]=Prikazuje iskorištenost diska
GenericName[hu]=lemezterület-kijelző
GenericName[it]=Mostra lo spazio disco libero
GenericName[ja]=ディスク使用量の表示
GenericName[lt]=Žiūrėti disko panaudojimą
GenericName[lv]=Skatīt Diska Izmantošanu
GenericName[mt]=Uri l-użu tad-diski
GenericName[nb]=Vis ledig plass på disken
GenericName[nl]=bekijk het schijfgebruik
GenericName[nn]=Vis diskbruk
GenericName[pl]=Informacja o wolnym miejscu na dyskach
GenericName[pt]=Utilização do Disco
GenericName[pt_BR]=Ver Uso do Disco
GenericName[ro]=Afişează utilizarea discului
GenericName[ru]=Индикатор заполнения дисков
GenericName[sk]=Využitie disku
GenericName[sl]=Pokaže porabo diska
GenericName[sv]=Visa diskanvändning
GenericName[ta]=ÅðÎô À¡Å¨É ¸¡ðÊ
GenericName[th]=แสดงการใช้พื้นที่ดิสก์
GenericName[tr]=Disk Kullanımını Görüntüle
GenericName[uk]=Перегляд використання диску
GenericName[ven]=Sedzani mashumisele a Disk
GenericName[vi]=Xem đĩa trống 
GenericName[wa]=Vey l' eployaedje del deure plake
GenericName[xh]=Jonga Ukusebenziseka KweDiskic
GenericName[zh_CN]=查看磁盘使用状况
GenericName[zh_TW]=檢視磁碟使用情形
GenericName[zu]= Buka Ukusetshenziswa Kwediski
Terminal=0
DocPath=kdf/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;System;X-KDE-More
