[Desktop Entry]
Encoding=UTF-8
Name=KDiskFree
Name[x-test]=xxKDiskFreexx
Exec=kdf -caption "%c"
Icon=kdf
Type=Application
GenericName=View Disk Usage
GenericName[x-test]=xxView Disk Usagexx
Terminal=false
DocPath=kdf/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;System;X-KDE-More;
