[Desktop Entry]
Encoding=UTF-8
Name=KwikDisk
Name[af]=kwikdisk
Name[da]=Kwikdisk
Name[eo]=Diskokroĉilo
Name[et]=Ketaste ühendamine
Name[hu]=KwikDisk lemezkezelő
Name[is]=Diskatól
Name[ja]=マウントツール
Name[sv]=Snabbdisk
Name[xh]=KwikDiski
Name[xx]=xx
Name[zu]=KwikDiski
Exec=kwikdisk
Icon=kwikdisk
Type=Application
Comment=Mount/Umount Utility
Comment[da]=Montér/Afmontér-redskab
Comment[de]=Einbinden von Laufwerken
Comment[es]=Utilidad de montaje/desmontaje
Comment[fi]=Leyn irroitus/liittämistyökalu
Comment[fr]=Utilitaire pour monter et démonter les lecteurs
Comment[he]=כלי חיבור\ניתוק
Comment[hu]=Segédprogram lemezeszköz csatlakoztatásához/leválasztásához
Comment[it]=Accessorio per montare/smontare
Comment[lt]=Sumontavimo/išmontavimo pagalbinė programa
Comment[lv]=Montēšanas/Nomontēšanas Utilite
Comment[nl]=hulpprogramma voor aan/afkoppelen van bestandssystemen (mounten/umounten)
Comment[pt]=Utilitário para Montar/Desmontar
Comment[pt_BR]=Utilitário para Montar/Desmontar
Comment[sk]=Pripojenie/odpojenie diskov
Comment[sl]=Pripomoček za priklop/odklop
Comment[sv]=Verktyg för montering/avmontering
Comment[ta]=²üÈ ­Èì¸ì ¸ÕÅ¢
Comment[uk]=Утиліта монтування/розмонтування
Comment[xx]=xx
Terminal=0
