[Desktop Entry]
Encoding=UTF-8
Name=KwikDisk
Name[af]=Kwikdisk
Name[eo]=Diskokroĉilo
Name[et]=Ketaste ühendamine
Name[fa]=Kwikدیسک
Name[hi]=क्विक-डिस्क
Name[ja]=マウントツール
Name[ne]=क्विक डिस्क
Name[sv]=Snabbdisk
Name[ta]= கிவிக்வட்டு 
Name[th]=เรียกใช้ดิสก์ด่วน
Exec=kwikdisk -caption "%c"
Icon=kwikdisk
Type=Application
DocPath=kdf/index.html
GenericName=Removable Media Utility
GenericName[af]=Verwyderbare Media Program
GenericName[ar]=أداة الوسائط القابلة للإزالة
GenericName[bg]=Сменяеми носители
GenericName[br]=Ostilh media lem-laka
GenericName[bs]=Alat za izmjenjive medije
GenericName[ca]=Utilitat per discos extraïbles
GenericName[cs]=Nástroj pro výměnné disky
GenericName[cy]=Cyfleuster Cyfryngau Symudadwy
GenericName[da]=Flytbart medieredskab
GenericName[de]=Dienstprogramm für Wechselmedien
GenericName[el]=Εργαλείο αφαιρούμενων μέσων
GenericName[eo]=Ŝanĝebla disko ilo
GenericName[es]=Herramienta de medios extraíbles
GenericName[et]=Eemaldatavate andmekandjate utiliit
GenericName[eu]=Euskarri Eramangarrien Erabilgarritasuna
GenericName[fa]=برنامۀ سودمند رسانه‌ای قابل حذف
GenericName[fi]=Poistettavan median työkalu
GenericName[fr]=Utilitaire de média éjectable
GenericName[ga]=Uirlis Meáin Inscortha
GenericName[he]=כלי מדיה נשלפת
GenericName[hi]=हटाया जा सकने वाला मीडिया यूटिलिटी
GenericName[hr]=Alat za uklonjive medije
GenericName[hu]=Lemezcsatlakoztató
GenericName[is]=Diskatól
GenericName[it]=Accessorio per i supporti rimovibili
GenericName[ja]=リムーバブルメディアユーティリティ
GenericName[kk]=Ауыстырмалы тасушының утилитасы
GenericName[km]=ឧបករណ៍​មេឌៀ​ដែល​អាច​យក​ចេញ
GenericName[lt]=Keičiamų diskų ar kitų įrenginių programa
GenericName[mk]=Алатка за менливи носачи
GenericName[ms]=Utiliti Media Mudah Alih
GenericName[nb]=Verktøy for flyttbare media
GenericName[nds]=Deenstprogramm för tuuschbore Medien
GenericName[ne]=हटाउन योग्य मिडिया उपयोगिता
GenericName[nl]=Verwisselbare media beheren
GenericName[nn]=Verktøy for flyttbare medium
GenericName[pa]=ਹਟਾਉਣਯੋਗ ਮੀਡਿਆ ਸਹੂਲਤ
GenericName[pl]=Narzędzie do wyjmowalnych dysków
GenericName[pt]=Utilitário para Media Removível
GenericName[pt_BR]=Utilitário de Mídia Removível
GenericName[ro]=Utilitar ejectare mediu
GenericName[ru]=Управление дисками
GenericName[sk]=Nástroj pre vymeniteľné médiá
GenericName[sl]=Pripomoček za izmenjevalne medije
GenericName[sr]=Алат за уклоњиве медије
GenericName[sr@Latn]=Alat za uklonjive medije
GenericName[sv]=Verktyg för flyttbar media
GenericName[ta]= நீக்ககூடிய ஊடக பயன்பாடு
GenericName[tg]=Барномаи Пуштибон барои Расонаҳои Ҷойивазшаванда
GenericName[th]=เครื่องมือจัดการสื่อที่ถอดได้
GenericName[tr]=Çıkartılabilir Aygıt
GenericName[uk]=Утиліта змінних носіїв
GenericName[wa]=Usteye po les bodjåves sopoirts
GenericName[xh]=Umdlali wezoSasazo
GenericName[zh_CN]=可移动介质工具
GenericName[zh_TW]=可移動媒體公用程式
GenericName[zu]=Umsebenzi Wonozindaba Ogudluzekayo
Terminal=false
Categories=Qt;KDE;System;X-KDE-More;
