[Desktop Entry]
Name=KwikDisk
Name[af]=Kwikdisk
Name[ar]=KwikDisk
Name[bg]=KwikDisk
Name[br]=KwikDisk
Name[bs]=KwikDisk
Name[ca]=KwikDisk
Name[ca@valencia]=KwikDisk
Name[cs]=KwikDisk
Name[cy]=KwikDisk
Name[da]=KwikDisk
Name[de]=KwikDisk
Name[el]=KwikDisk
Name[en_GB]=KwikDisk
Name[eo]=KwikDisk
Name[es]=KwikDisk
Name[et]=Ketaste ühendamine
Name[eu]=KwikDisk
Name[fa]=Kwikدیسک
Name[fi]=KwikDisk
Name[fr]=KwikDisk
Name[ga]=KwikDisk
Name[gl]=KwikDisk
Name[he]=KwikDisk
Name[hne]=क्विक-डिस्क
Name[hr]=KwikDisk
Name[hu]=KwikDisk
Name[ia]=KwikDisk
Name[id]=KwikDisk
Name[is]=KwikDisk
Name[it]=KwikDisk
Name[ja]=マウントツール
Name[ka]=KwikDisk
Name[kk]=KwikDisk
Name[km]=KwikDisk
Name[ko]=KwikDisk
Name[lt]=KwikDisk
Name[lv]=KwikDisk
Name[mk]=KwikDisk
Name[mr]=क्विक-डिस्क
Name[ms]=KwikDisk
Name[nb]=KwikDisk
Name[nds]=KwikDisk
Name[ne]=क्विक डिस्क
Name[nl]=KwikDisk
Name[nn]=KwikDisk
Name[pa]=KwikDisk
Name[pl]=KwikDisk
Name[pt]=KwikDisk
Name[pt_BR]=KwikDisk
Name[ro]=KwikDisk
Name[ru]=KwikDisk
Name[sk]=KwikDisk
Name[sl]=KwikDisk
Name[sq]=KwikDisk
Name[sr]=Квикдиск
Name[sr@ijekavian]=Квикдиск
Name[sr@ijekavianlatin]=KwikDisk
Name[sr@latin]=KwikDisk
Name[sv]=Snabbdisk
Name[ta]= கிவிக்வட்டு 
Name[tg]=KwikDisk
Name[th]=เรียกใช้ดิสก์ด่วน-K
Name[tr]=KwikDisk
Name[ug]=KwikDisk
Name[uk]=KwikDisk
Name[vi]=KwikDisk
Name[wa]=KwikDisk
Name[x-test]=xxKwikDiskxx
Name[zh_CN]=KwikDisk 可移动媒体管理器
Name[zh_TW]=KwikDisk
Exec=kwikdisk -qwindowtitle %c
Icon=kwikdisk
Type=Application
X-DocPath=kdf/index.html
GenericName=Removable Media Utility
GenericName[af]=Verwyderbare Media Program
GenericName[ar]=أداة الوسائط القابلة للإزالة
GenericName[bg]=Сменяеми носители
GenericName[br]=Ostilh media lem-laka
GenericName[bs]=Alatka za uklonjive medijume
GenericName[ca]=Utilitat de discos extraïbles
GenericName[ca@valencia]=Utilitat de discs extraïbles
GenericName[cs]=Nástroj pro výměnné disky
GenericName[cy]=Cyfleuster Cyfryngau Symudadwy
GenericName[da]=Værktøj til flytbart medie
GenericName[de]=Dienstprogramm für Wechselmedien
GenericName[el]=Εργαλείο αφαιρούμενων μέσων
GenericName[en_GB]=Removable Media Utility
GenericName[eo]=Detirebla diskilo
GenericName[es]=Herramienta de medios extraíbles
GenericName[et]=Eemaldatavate andmekandjate utiliit
GenericName[eu]=Euskarri aldagarrien baliagarritasuna
GenericName[fa]=برنامه سودمند رسانه‌ای قابل حذف
GenericName[fi]=Poistettavan median työkalu
GenericName[fr]=Utilitaire de média éjectable
GenericName[ga]=Uirlis Meáin Inbhainte
GenericName[gl]=Utilidade para medios extraíbeis
GenericName[he]=כלי מדיה נתיקה
GenericName[hne]=हटाय जा सके अइसन मीडिया यूटिलिटी
GenericName[hr]=Alat za uklonjive medije
GenericName[hu]=Lemezcsatlakoztató
GenericName[ia]=Utilitate de dispositivos removibile
GenericName[id]=Utilitas Media Dapat Dilepas
GenericName[is]=Tól fyrir útskiptanlega gagnamiðla
GenericName[it]=Accessorio per i supporti rimovibili
GenericName[ja]=リムーバブルメディアのためのユーティリティ
GenericName[ka]=მოხსნადი დისკების პროგრამა
GenericName[kk]=Ауыстырмалы тасушының утилитасы
GenericName[km]=ឧបករណ៍​ប្រើប្រាស់​មេឌៀ​ដែល​អាច​យក​ចេញ​បាន
GenericName[ko]=이동식 미디어 유틸리티
GenericName[lt]=Keičiamų diskų ar kitų įrenginių programa
GenericName[lv]=Noņemamo datu nesēju utilīta
GenericName[mk]=Алатка за менливи носачи
GenericName[mr]=काढतायेण्याजोग्या मीडिया करिता उपकार्यक्रम
GenericName[ms]=Utiliti Media Mudah Alih
GenericName[nb]=Verktøy for flyttbare media
GenericName[nds]=Deenstprogramm för tuuschbore Medien
GenericName[ne]=हटाउनयोग्य मिडिया उपयोगिता
GenericName[nl]=Verwisselbare media beheren
GenericName[nn]=Verktøy for flyttbare medium
GenericName[pa]=ਹਟਾਉਣਯੋਗ ਮੀਡਿਆ ਸਹੂਲਤ
GenericName[pl]=Narzędzie do wyjmowalnych dysków
GenericName[pt]=Utilitário para Dispositivos Removíveis
GenericName[pt_BR]=Utilitário de mídia removível
GenericName[ro]=Utilitar pentru medii amovibile
GenericName[ru]=Управление дисками
GenericName[sk]=Nástroj pre vymeniteľné médiá
GenericName[sl]=Pripomoček za odstranljive nosilce
GenericName[sq]=Mjeti i Mediave të Lëvizshme
GenericName[sr]=Алатка за уклоњиве медијуме
GenericName[sr@ijekavian]=Алатка за уклоњиве медијуме
GenericName[sr@ijekavianlatin]=Alatka za uklonjive medijume
GenericName[sr@latin]=Alatka za uklonjive medijume
GenericName[sv]=Verktyg för flyttbar media
GenericName[ta]= நீக்ககூடிய ஊடக பயன்பாடு
GenericName[tg]=Барномаи Пуштибон барои Расонаҳои Ҷойивазшаванда
GenericName[th]=เครื่องมือจัดการสื่อที่ถอดได้
GenericName[tr]=Çıkarılabilir Ortam İzlencesi
GenericName[ug]=چىقىرىۋېتىشكە بولىدىغان ۋاسىتە قورالى
GenericName[uk]=Утиліта змінних носіїв
GenericName[wa]=Usteye po les bodjåves sopoirts
GenericName[xh]=Umdlali wezoSasazo
GenericName[x-test]=xxRemovable Media Utilityxx
GenericName[zh_CN]=可移动介质工具
GenericName[zh_TW]=可移動媒體公用程式
Comment=Panel icon to mount and unmount disks
Comment[ar]=أيقونة اللوحة لضم وإلغاء ضم الأقراص
Comment[bg]=Икона в панела за монтиране и демонтиране на дискове
Comment[ca]=Icona del plafó per a muntar i desmuntar els discs
Comment[ca@valencia]=Icona del quadro per a muntar i desmuntar els discs
Comment[cs]=Ikona na panelu pro připojení a odpojení disků
Comment[da]=Panelikon til at montere og afmontere diske
Comment[de]=Kontrollleiste-Symbol zum Ein- und Aushängen von Speichergeräten
Comment[el]=Εικονίδιο πίνακα για (απο)προσάρτηση δίσκων
Comment[en_GB]=Panel icon to mount and unmount disks
Comment[eo]=Panelpiktogramo por munti kaj malmunti diskojn
Comment[es]=Icono del panel para montar y desmontar discos
Comment[et]=Paneeliikoon ketaste ühendamiseks ja lahutamiseks
Comment[eu]=Diskoak muntatu eta desmuntatzeko paneleko ikonoa
Comment[fi]=Paneelikuvake levyjen liittämiseksi ja irrottamiseksi
Comment[fr]=Icône pour monter et libérer les disques
Comment[gl]=Icona de panel para montar e desmontar discos.
Comment[he]=סמל לוח לעיגון וניתוק כוננים
Comment[hu]=Panelikon lemezek csatolásához és leválasztásához
Comment[ia]=Icone de pannello per montar e dismontar discos
Comment[id]=Ikon panel untuk mengait dan melepaskait disk
Comment[is]=Tákn á spjaldi til að tengja og aftengja diska
Comment[it]=Icona del pannello per montare e smontare dischi
Comment[ka]=პანელის ხატულა დისკების მიმაგრებისა და მოხსნისათვის
Comment[ko]=디스크를 마운트 및 마운트 해제하는 패널 아이콘
Comment[nl]=Paneelpictogram om schijven aan en af te koppelen
Comment[nn]=Panelikon for montering av avmontering av diskar
Comment[pl]=Ikona na panelu do podpinania i odpinania dysków
Comment[pt]=Ícone do painel para montar e desmontar os discos
Comment[pt_BR]=Ícone do painel para montar e desmontar os discos
Comment[ro]=Pictogramă în panou pentru montarea și demontarea discurilor
Comment[ru]=Значок на панели для подключения и отключения дисков
Comment[sk]=Ikona panelu na pripojenie a odpojenie diskov
Comment[sl]=Ikona za pult, s katero lahko priklopite/odklopite diske
Comment[sr]=Панелска иконица за монтирање и демонтирање дискова
Comment[sr@ijekavian]=Панелска иконица за монтирање и демонтирање дискова
Comment[sr@ijekavianlatin]=Panelska ikonica za montiranje i demontiranje diskova
Comment[sr@latin]=Panelska ikonica za montiranje i demontiranje diskova
Comment[sv]=Panelikon för att montera och avmontera diskar
Comment[tr]=Diskleri bağlama ve bağlantılarını kesme için panel simgesi
Comment[uk]=Піктограма на панелі для монтування і демонтування дисків
Comment[x-test]=xxPanel icon to mount and unmount disksxx
Comment[zh_CN]=挂载和卸载磁盘的面板图标
Comment[zh_TW]=一個面板圖示用於掛載與解除掛載磁碟
Categories=Qt;KDE;System;
